:host {
    display: block;
    overflow: auto;

    table {
        width: 100%;
    }

    .mat-column-actions {
        width: 20px;
    }

    @media screen and (max-width: 640px) {
        .mat-column-category {
            display: none;
        }
    }
}
